html,
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: .9em;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
h2 {
  margin-left: 1em;
  display: inline-block;
  color: #777;
}
#main {
  width: 100%;
  max-width: 1024px;
  text-align: left;
}
ul#notes {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.note {
  padding: 5px;
  cursor: pointer;
  margin: 1em;
  outline: solid 1px #ccc;
  background-color: #ffffff;
  min-height: 3em;
  -webkit-word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-all;
}
.note.editing {
  outline: solid 3px #c49d00;
}
.note .name {
  font-weight: bold;
  font-size: 1em;
}
.note .time {
  font-size: .75em;
  text-align: right;
}
.note .btnedit {
  display: inline-block;
}
.addnote {
  display: none;
  /* every note has an addnote, which shall not be displayed */

}
.note.invite {
  background-color: #f0f0f0;
}
.invite .addnote {
  display: block;
  color: #777;
  text-align: center;
  vertical-align: middle;
}
.toolbar {
  text-align: right;
  float: right;
  /* button visibilities */

}
.toolbar button {
  display: none;
}
.editing {
  outline: maroon;
  background-color: white;
}
.editing .btnsave,
.editing .btncancel,
.editing .btndelete {
  display: inline-block;
}
.editing .btnedit {
  display: none;
}
.editable {
  outline: none;
  margin-left: 3px;
  padding: 0 .5em;
}
.editable:focus {
  margin-left: 0;
  border-left: solid 3px #c49d00;
}
.invite .btnedit {
  display: none;
}
.content {
  margin-top: 1em;
}
#pwpanel.hidden input,
#pwpanel.hidden #btnsetpw {
  display: none;
}
